<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>WorkDay</title>

	<!-- local -->
	<link rel="stylesheet" href="source/bootstrap.min.css">
	<script src="source/vue.js"></script>
</head>

<body>

	<div class="container-fluid">
		<h1><small>Working Day.</small></h1>

		<div id="app" class="form-inline">
			<input type="number" v-model="hour" class="form-control"> 小时
			<input type="number" v-model="minute" class="form-control"> 分钟
			<ol class="breadcrumb" style="margin-top: 20px;">
				<li><a href="javascript:;">{{ result_d }} 天</a></li>
				<li><a href="javascript:;">{{ result_h }} 小时</a></li>
				<li><a href="javascript:;">{{ result_m }} 分钟</a></li>
			</ol>
			<button v-on:click="gettime" class="btn btn-primary">获取</button>
		</div>

	</div>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				hour: 0,
				minute: 0,
				standard: 7.25,
				result_d: 0,
				result_h: 0,
				result_m: 0,
			},
			methods: {
				gettime: function () {
					var m1 = Math.floor(this.hour*60),
						m2 = Math.floor(this.minute),
						days = (m1 + m2)/(this.standard*60),
						diff_minutes;

					if (parseInt(this.hour) != parseFloat(this.hour) || parseInt(this.minute) != parseFloat(this.minute)) {
						alert('请输入整数！');
					}

					this.result_d = Math.floor(days);
					diff_minutes = (m1+m2) - (this.result_d*this.standard*60);
					this.result_h = Math.floor(diff_minutes/60);
					this.result_m = Math.floor(diff_minutes%60);
				}
			}
		})    
	</script>

</body>
</html>