<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WorkDay</title>

    <!-- local -->
    <link rel="stylesheet" href="source/bootstrap.min.css">
    <link rel="stylesheet" href="source/app.min.css">
</head>

<body>

<div class="container-fluid">
    <h1>
        <small>Working Day.</small>
    </h1>

    <div id="app" class="form-inline" v-cloak>
        <div v-if="seen" class="alert alert-warning">
            <strong>请输入整数</strong>
        </div>

        <input type="number" v-model="hour" class="form-control" @blur="checkdata" @keyup.enter="gettime"> 小时
        <input type="number" v-model="minute" class="form-control" @blur="checkdata" @keyup.enter="gettime"> 分钟
        <ol class="breadcrumb" style="margin-top: 20px;">
            <li><a href="javascript:;">{{ result_d }} 天</a></li>
            <li><a href="javascript:;">{{ result_h }} 小时</a></li>
            <li><a href="javascript:;">{{ result_m }} 分钟</a></li>
        </ol>
        <button v-on:click="gettime" class="btn btn-primary">获取</button>
        <div class="info">
            <h3>
                <small>History</small>
            </h3>
            <hr>
            <div class="alert alert-info" role="alert"  v-for="text in history">{{ text }}</div>
        </div>
    </div>
</div>

<script src="source/vue.min.js"></script>
<script src="source/app.min.js"></script>

</body>
</html>